[submodule "Python_backend"]
	path = Python_backend
	url = https://github.com/LOrenzDJeff/Python_backend
[submodule "go_back"]
	path = go_back
	url = https://github.com/nequs17/golang_backend
[submodule "front_react"]
	path = front_react
	url = https://github.com/pneidorf/front_react
[submodule "Android"]
	path = Android
	url = https://github.com/vladimir-ponomarenko/Android
