@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'leaflet/dist/leaflet.css';

* {
  padding: 0px;
  margin: 0px;
}

.App {
  height: 1100px;
  overflow-y: auto;
}

.leaflet-control-attribution {
  display: none;
}


@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  background: linear-gradient(to right, #064155, #007B9A);
  color: #ffffff;
  padding: 20px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  animation: slideIn 1.5s ease-out;
}

.map-block {
  position: relative;
  width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 1.5s ease-out;
  margin-bottom: 80px;
  animation: slideIn 1.5s ease-out;
}

.map-container {
  width: 100%;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin-top: 20px;
  animation: slideIn 1.5s ease-out;
}

.map-container > div {
  height: 100%;
  width: 100%;
}

.map-container-small {
  width: 800px;
  height: 75vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.map-container-form {
  width: 300px;
  height: 75vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}
 
h2 {
  padding: 20px;
  animation: slideIn 1.5s ease-out;
}

.desc {
  padding: 20px;
  animation: slideIn 1.5s ease-out;
  margin-bottom: 150px;
}

.window-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.tabs {
  display: flex;
  gap: 100px;
}

.shadow-gradient-button {
  background: linear-gradient(to right, #008CBA, #007B9A);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 320px;
  font-family: 'Roboto', sans-serif;
  animation: slideIn 1.5s ease-out;
}

.shadow-gradient-button:hover {
  background: linear-gradient(to right, #007B9A, #008CBA);
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}


.form-button {
  background: linear-gradient(to right, #008CBA, #007B9A);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 250px;
  font-family: 'Roboto', sans-serif;
  animation: slideIn 4.5s ease-out;
}

.form-button:hover {
  background: linear-gradient(to right, #007B9A, #008CBA);
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}

aside form input{
  width: 220px;
  height: 10px;
  padding: 15px 5%;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  outline: none;
  animation: slideIn 4.5s ease-out;
}